@font-face {
    font-family:bold ;
    src: url(assets/Samim-Bold-FD_p30download.com.woff);
}
@font-face {
    font-family:text ;
    src: url(assets/Samim-FD_p30download.com.woff);
}
.cflex{
    display: flex;
    justify-content: space-between;
    margin-left: 170px;
    margin-right: 170px;
   
}
.flexc{
    display: flex;
    justify-content: space-between;
    direction: rtl;
}
.margintop{
    margin-top: 70px;
}
.cbox{
    width: 750px;
    height: 120px;
    box-shadow: 5px 15px 10px rgb(224, 224, 224);
    border-radius: 10px;
}
.icons{
    margin-right: 10px;
    margin-top: 28px;
    cursor: pointer;
    transition: 1s;
}
.icons:hover{
    transform: translateY(-10px);
    transition: 1s;
}
.ctext{
    font-family: text;
    font-size: 14px;
    margin-right:10px;
    color: rgb(148, 146, 146);
    margin-top: 40px;

}
.ctextt{
    font-family: text;
    font-size: 14px;
    margin-right:10px;
    color: black;
    margin-top: 60px;
    margin-left: 10px;

 
}
.cbold{
    font-family: bold;
    font-size: 16px;
    margin-right:10px;
    cursor: pointer;
}
.cbold:hover{
    color: rgb(15, 15, 122);
}


@media screen and (max-width: 1280px) {
    .cbox{
        width: 450px;
        height: 120px;
        box-shadow: 5px 15px 10px rgb(224, 224, 224);
        border-radius: 10px;
    }
}
@media screen and (max-width: 990px) {
    .cflex{
        display: flex;
        justify-content: space-between;
        margin-left: 30px;
        margin-right: 30px;
       
    }
}
@media screen and (max-width: 720px) {
    .cflex{
        display: block;
        margin-left: 30px;
        margin-right: 30px;
    }
    .cbox{
        width: 640px;
        height: 120px;
        box-shadow: 5px 15px 10px rgb(224, 224, 224);
        border-radius: 10px;
    }
}

@media screen and (max-width: 480px) {
    .cbox{
        width: 410px;
        height: 120px;
        box-shadow: 5px 15px 10px rgb(224, 224, 224);
        border-radius: 10px;
    }
}
@media screen and (max-width:400px) {
    .cbox{
        width: 350px;
        height: 120px;
        box-shadow: 5px 15px 10px rgb(224, 224, 224);
        border-radius: 10px;
    }
    .cbold{
      margin-top: 25px;
    }
}